* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #555;
  color: white;
  padding: 1em;
  text-align: center;
}

.word-display {
  margin-top: 3rem;
  font-size: 100px;
  color: #555;
  border-bottom: 1px solid #555;
}

.word-input-box {
  margin-top: 2rem;
  color: #555;
}

.word-input {
  padding: 0.5rem;
  width: 300px;
}

.game-info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.time,
.score {
  font-size: 30px;
}

.button {
  width: 200px;
  height: 35px;
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  margin-top: 2rem;
  cursor: pointer;
}

.loading {
  background-color: #ccc;
  cursor: not-allowed;
}

i {
  font-weight: bolder;
  color: #555555;
}

span {
  color: #555555;
}
